.body {
  padding: 70px;
}

/* UTILITIES */
.bg-green {
  background-color: #1bbc9b;
}

.color-white {
  color: white;
}

/* NAVBAR */
.navbar-default {
  background-color: #2d3e50;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-header .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
}

/* HEADER */


header .col-md-12 img {
  max-width: 200px;
}

header .col-md-12 h1 {
  font-size: 50px;
}

header li:nth-child(even)::before {
   content: '-';
   padding-right: 10px;
 }

header li:nth-child(even)::after {
   content: '-';
   padding-left: 10px;

}

/* JUMBOTRON */
.jumbotron {
  background-color: white;
}

#portfolio .container {
  color: #2c3e50;
}

#portfolio .row img {
  margin-bottom: 20px;
  border-radius: 15px;
}

/* ABOUT */
#about h2 {
  padding: 50px 0px;
}

#about p {
  font-size: 20px;
}

#about .col-lg-12 button {
  margin-bottom: 50px;
  border: 1px solid white;
}
